@use '../global' as *;

.contact-form {
	.wpcf7 {
		background: #F8F8F8;
		border: 1px solid $color-primary;
		border-radius: 15px;
		box-shadow: 0 2px 5px 3px #00000045;
		box-sizing: border-box;
		max-width: 760px;
		padding: 20px;
		width: 100%;

		@media screen and (min-width:$md) {
			max-height: 220px;
		}

		input {
			border: 1px solid $color-primary;
			border-radius: 10px;
			font-size: 14px;
			padding: 5px 10px;
			width: 100%;
		}

		select {
			border: 1px solid $color-primary;
			border-radius: 15px;
			font-size: 14px;
			padding: 5px 10px;
			width: 100%;
			width: 100%;
		}

		textarea {
			border: 1px solid $color-primary;
			border-radius: 15px;
			font-size: 14px;
			max-height: 83px;
			padding: 15px;
			width: 100%;
		}



	}

	.boton {
		display: flex;
		margin-top: 0;

		@media screen and (min-width:$md) {
			display: flex;
			justify-content: flex-end;
		}

		input {
			background: $color-primary ;
			border-radius: 10px;
			color: #fff;
			cursor: pointer;
			font-weight: bold;
			margin: 0;
			padding: 5px 15px !important;
			width: auto;

			&:hover {
				@extend %transition;
				background: $color-tertiary;
			}
		}

		.wpcf7-spinner {
			margin: 0 auto;
			position: absolute;
		}
	}

	::placeholder {
		color: $color-secondary;
		font-weight: 500;
		opacity: 1;
	}


	.form-group {
		margin-bottom: 15px;
		position: relative;
		width: 100%;

		&.with-icon {
			input {
				padding-left: 36px;
			}

		}

		.icono {
			left: 9px;
			position: absolute;
			top: 6px;
			z-index: 9;

			&.mail {
				top: 9px;
			}
		}
	}

	.title {
		color: $color-secondary;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	section {
		display: grid;
		gap: 15px;

		&:first-of-type {
			@media screen and (min-width:$md) {
				grid-template-columns: repeat(2, 1fr);

			}
		}

		&:nth-child(2) {
			@media screen and (min-width:$md) {
				grid-template-columns: repeat(3, 1fr);

			}
		}
	}

	.form-container {
		@media screen and (min-width:$md) {
			display: flex;
			gap: 15px;
		}
	}
}